body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1626px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:504px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:20px;
  width:301px;
  height:504px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:504px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:20px;
  width:301px;
  height:504px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:504px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:20px;
  width:301px;
  height:504px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:504px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:20px;
  width:301px;
  height:504px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:504px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:20px;
  width:301px;
  height:504px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
